
.menu {
    display: flex;
    align-items: center;
    padding: 2px;
  }
  
  .menu a {
    text-decoration: none;
    padding: 2px;
  }
  
  .menu .find{
    justify-content:left;
    color:black;
  }
  .menu .find :hover{
    color: rgb(63, 58, 58);
  }
  .menu .Inspiration {
    justify-content:left;
    padding-left: 30px;
    color:black;
  }
  .menu .Inspiration :hover{
    color: rgb(63, 58, 58);
  }
  .menu .courses{
    justify-content:left;
    padding-left: 40px;
    color:black;
  }
  .menu .courses :hover{
    color: rgb(63, 58, 58);
  }
  .menu .Jobs{
    justify-content:left;
    padding-left: 30px;
    color:black;
  }
  .menu .Jobs :hover{
    color: rgb(63, 58, 58);
  }
  .menu .pro{
    justify-content:left;
    padding-left: 30px;
    color:black;
  }
  .menu .pro :hover{
    color: rgb(63, 58, 58);
  }
  .menu .dribbble {
    justify-content:space-between;
    font-size:25px;
    padding-left: 200px;
    font-family:fantasy;
    transform:rotate(-4deg);
    color: black;
    padding-right: 200px;

  }
  .menu .dribbble :hover{
    color: rgb(63, 58, 58);
  }
  
  .menu .search {
    border-radius: 30px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align:left;
    font-size: large;
    background-color: rgba(19, 18, 18, 0.082);
  }
  .menu .login {
    background-color: white;
    border: 0ch;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
    color:black;
  }
  .menu .login :hover{
    
  }
  .menu .signup {
    text-decoration: rgb(209, 252, 135);
    background-color:darkgray;
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu.signup :hover{

  }
  p {
    padding-left: 100px;
    font-size:xx-large;
    font-weight: bolder;
  }
  .name {
    font-size: medium;
  }
  .for {
    font-size: medium;
  }
  .company {
    font-size: medium;
  }
.work {
    color:rgb(158, 242, 31);
    font-size: medium;
    padding-left: 70px;
}
.follow {
    font-size: medium;
    padding-left: 20px;
}
.like {
    padding-left: 650px;
}
.save {
    padding-left: 10px;
    text-decoration: none;
}
.touch {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    background-color:cornflowerblue;
    color:chocolate;
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
    
}
.body {
    font-weight: lighter;
}

.container {
    display: flex;
}
.box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
}
.boxone{
    background-color: white;   
    font-size:800px;
    font-weight: bolder;
    font-family: monospace;
    padding-right: 200px;
}
.boxtwo {
    background-color:white;
    font-size:small;
}
.boxtwo .ohh {
    background-color:azure;
    font-size: small;
    text-decoration: dotted;
    box-sizing: 10px;
}
.mainn {
    height: 1300px;
    width: 1100px;
    background-color:navy;
    border-width: 80px;
    align-content: center;
    margin-left:initial;
    margin-bottom: 10px;
    color: azure;
    transition: 3s ease-in 0.2s;
    text-align: center;
    transform: translate(100px,0px);
}
.mainn h1 :hover {
    background-color: rgb(38, 22, 188);
    text-transform: uppercase;
}
.containero {
    display: flex;
  }
  
  .boxx {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 200px;
    background-color: navy;
    color: azure;
  }
  .boxx .ohh {
    background-color:azure;
    font-size: small;
    text-decoration: dotted;
    box-sizing: 10px
  }
  
  